* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 70px;
    background-color: #252324;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
    color: white;
}


.logo {
   background-image: url(hero_image.jpg);
    height: 50px;
    width: 100%;
    background-size: cover;
    display: flex;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid rgb(245, 235, 235);
}

.add-first {
    color: #e4dcdc;
    font-size: 1rem;
    margin-left: 15px;
}

.add-second {
    color: #f94109;
    font-size: 1rem;
    margin-left: 5px;

}

.add-icon {
    display: flex;
    align-items: center;

}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: #033503;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select {
    background-color: #878282;
    width: 50px;
    text-align: center;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search-input {
    width: 100%;
    border: none;
    font-size: 1rem;

}

.search-btn {
    background-color: #ff9900;
    display: flex;
    justify-content: center;
    width: 45px;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

.nav-search:hover {
    box-shadow: 0 0 5px 2px rgb(241, 111, 111);
}

span {
    font-size: 0.7rem;

}

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-weight: 700;
    font-size: 0.85rem;
}

.panel {
    height: 40px;
    background-color: #37475a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin: 15px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
    display: flex;
}

.panel-deals {
    width: 30%;
    font-size: 0.85rem;
    display: flex;
    justify-content: flex-end;
}

.hero-section {
    background-image: url(phone.png);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;


}

.hero-msg {
    background-color: rgb(246, 248, 249);
    color: rgb(15, 16, 16);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 30px;

}

.hero-msg a {
    color: rgb(56, 50, 239);
    text-decoration: none;
}

.content-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.box {
    height: 400px;
    width: 23%;
    border: 2px solid transparent;
    background-color: rgb(252, 252, 252);
    box-shadow: 0 0 5px 2px rgb(189, 185, 185);

}

.image-box {
    width: 300px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}

.image-box img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}